body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
}


.header {
    background: #0f59a4;
    color: white;
    padding: 15px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}


.hero {
    background: linear-gradient(to right, #0a2540, #1b3b6f);
    color: white;
    text-align: center;
    padding: 90px 20px;
}

.hero h1 {
    font-size: 36px;
}


.cards {
    display: flex;
    gap: 20px;
    padding: 40px 5%;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    flex: 1;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.page {
    padding: 40px 5%;
}

.box {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
}

.contact-form button {
    background: #0a2540;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
}


footer {
    background: #0a2540;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}
